{
  "username": "FaxbotName",
  "password": "hunter12",
  "botOperator": "Irrat (#3469406)",

  "defaultClan": "90485",
  "faxDumpClan": "2047010164",

  "runFaxRollover": false,
  "runFaxRolloverAnyways": false,

  "maintainLeadership": {
    "Account~Name": "hunter12"
  },

  "discordWebhook": "#https://discord.com/api/webhooks/12345",
  "allowedRefreshers": ["37195"]
}
